@charset "utf-8";
/* css common */
html{
    overflow:auto;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0; padding:0;
}
div,p{
    word-break: break-all;
}
body {
    background:#e9eaed;
    font-size:14px;
    font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif ,"宋体","黑体";
    color: #333;
    -moz-user-select:none;
    /*overflow:hidden;*/
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    font-size:100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
a {
    color:#555;
    text-decoration:none;
    cursor:pointer;
}
a:hover {
    text-decoration:none;
}
img {
    border:none;
}
ol,ul,li {
    list-style:none;
}
input, textarea, select, button {
    font:14px "微软雅黑",Verdana, Arial, Helvetica, sans-serif ,"宋体","黑体";
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
.clearfix:after {
    content: "."; display: block; height:0; clear:both; visibility: hidden;
}
.clearfix {
    *zoom:1;
}
.clear {
    clear: both;
}
.clear:after{
    height:0;
}

/*头部*/
.warp {
    width:1180px;
    margin: 0 auto;
    /*padding-bottom: 20px;*/
}
.head{
    width:100%;height:60px;

}
.head-bg{
    background-color: #fff;
    padding: 0 0 11px;
    background-image: url('http://static.front.dongao.com/v1.0/static/common/img/head_bg.jpg');
    background-position: 0 bottom;
    background-repeat: repeat-x;
}
.head .wi{
    width:1180px;
    margin: 0 auto;
}
.head_left{
    float:left; width:30%;
}
.head_left img{
    margin-top:11px;width:124px;cursor: pointer;
}
.head_right{
    float:right;width:65%;
}
.head_right_img{
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 40px;
    float: right;
    margin-right:23px;
    _z-index: 2;
}
.head_right_img:hover .person_list {
    display: block;
}
.person_list{
    position: absolute;width: 86px;    background: #fff;   border: 1px solid #D8D8D8; right: -23px; top: 56px;display: none;z-index: 99;
}
.list_per li{
    height: 30px;
    line-height: 30px;
}
.nav_person_modal{
    width: 40px;height: 40px;position: absolute; top: 8px;z-index: 2;
}
.head_right .nav_person_modal img{
    width: 40px;height: 40px;margin: 0;float: none;
}
.list_per{}
.list_per li a{  display: block;  line-height: 30px;  padding-left: 10px;  }
.list_per li a:hover{background: #f1f1f1;}
.head_right img.person_top {
    width: 88px;
    position: absolute;
    height: 11px;
    top: -18px;
    left: -1px;
    border-radius: 0;
}
.menu{
    float:right;width: 60%;
}
.head_right img{
    float:right; margin-top:8px;width: 40px;height: 40px;border-radius: 50%;
}
.menu div{
    margin-right:20px;float:right; line-height:60px;cursor: pointer;display: inline;
}
.menu p{
    float:left; color:#666;
}
.menu p:hover{color: #ff6600;}
.menu p.act{
    color: #ff6600;
}
.menu  span.w_number{
    position: absolute; display:block;width:18px; height:18px; background:#FF6600;color:#fff; border-radius:50%; text-align:center; line-height:18px; font-size:9px;right: -16px; top: 8px;cursor: pointer;
}
.menu  span.spot{
    position: absolute; display:block;width:5px; height:5px; background:#FF6600;color:#fff; border-radius:50%; text-align:center; line-height:18px; font-size:9px;right: -5px; top: 19px;
}
.menu  span.spot1{
    background: url(http://static.front.dongao.com/v1.0/static/common/img/icon_index.png) no-repeat left;
    background-position: -120px -100px;
    position: absolute;
    right: -6px;
    top: 19px;
    width: 6px;
    height: 6px;
}
.father{
    position:relative;
}
.ci-right {
    top: 26px;
    right: 69px;
    height: 7px;
    overflow: hidden;
    font: 400 15px/15px consolas;
    color: #6A6A6A;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    display: block;
    position: absolute;
}
.ci-right s {
    position: relative;
    top: -7px;
    text-decoration: none;
    font-weight: bold;
}
.ci-right-rotate{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}

.index_nav .ci-right {
    position: static;
    background: url(http://static.front.dongao.com/v1.0/static/common/img/list.png);
    background-position: 0 -27px;
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    /*margin-top: 24px;
    margin-left: 10px;*/

    position: absolute;
    right: 5px;
}
.index_nav .ci-right s {
    display: none;

}
.index_nav .ci-right-rotate{
    background-position: 0 -12px;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
/*左侧*/

.index_nav{background:#f5f5f5;}
.index_navL{float:left; width:18%;min-height: 530px;height: auto !important;height: 530px;padding-bottom: 10px;}
.b_title{height:64px; line-height:64px; color:#333; cursor:pointer;/*border-bottom: 1px solid #dfdfdf;*/margin: 20px 0 0;font-size:16px;}
.b_title a{color:#333;display:block;font-size:16px;height:57px; line-height:57px;/*padding-left:2px;*/position:relative;}
.b_title a span{float:left;}
.servie_secu_navL,.fund_nav{min-height: 664px;height: auto !important;height: 664px;}
.servie_secu_navL .b_title,
.fund_nav .b_title{height: 21px;line-height: 21px;margin-top: 20px;padding: 0 0 2px 28px;}
.servie_secu_navL .b_title a,
.fund_nav .b_title a{height: 21px;line-height: 21px;}

.servie_secu_navL .dot_s1,
.fund_nav .dot_s1{display: inline-block;  width: 16px; height: 16px; margin: 0 4px 0 4px;float: left;}
.servie_secu_navL .one_list1,
.fund_nav .one_list1{ display: block; float: left; width: 10px; height: 16px; margin: 0;}
.servie_secu_navL .small_tree li,
.fund_nav .small_tree li{height: 15px; line-height: 15px; cursor: pointer;  margin: 10px 0 0;}
.servie_secu_navL .small_tree li a,
.fund_nav .small_tree li a{color: #757575;text-decoration: none;font-size: 12px;}
.servie_secu_navL .small_tree li a span,
.fund_nav .small_tree li a span{_margin: 0 0 0 5px;}
.small_tree li a:hover{color:#F8893E;/* background:#fff;*/ /*border-left:2px solid #F8893E; padding-left:2px;*/}
.small_tree li a:hover .dot_s{background-position: 0 -256px;}
.small_tree li a.s_cur{color:#F8893E; /*background:#fff; border-left:2px solid #F8893E; padding-left:0;*/}
.small_tree li a.s_cur .dot_s{ background-position: 0 -256px;}
.one_list{display:inline; float:left; width:16px; height:16px; background:url(http://static.front.dongao.com/v1.0/static/common/img/icon_index.png) no-repeat left;background-position:0 0;overflow: hidden;margin: 1px 5px 0 14px;}
.two-l{background-position:-20px 0px;}
.three_l{background-position:-40px 0px;}
.four_l{background-position:-60px 0px;}
.five_l{background-position:-80px 0px;width: 18px;}
.six_l{background-position: -110px -20px;width: 18px;}
.seve_l{background-position: -130px -20px;width: 18px;}
.tree{display:block; width:100%; height:36px; line-height:36px; color:#666;font-size:14px;}
.tree a{display:block;margin-left:40px; height:36px; line-height:36px;color:#666;font-size:14px;width: 144px;overflow: hidden;text-overflow: ellipsis;    white-space: nowrap;}
.tree a:hover{text-decoration: none;}
.small_tree{width:100%;}
.small_tree li{height:36px; line-height:36px;cursor:pointer;padding: 0 0 0 28px}
.small_tree li a{display:block;font-size:14px; color:#666;/*padding-left:2px;*/}
.small_tree li a:hover .small_tree li a.cur_b {padding-left:0;}
.dot_s{background:url(http://static.front.dongao.com/v1.0/static/common/img/icon_index.png) no-repeat left;background-position:-20px -256px; display:inline; width:8px; height:8px;float:left; margin-left:38px;margin-top: 13px;margin-right:5px;overflow: hidden;}
.dot{background:url(http://static.front.dongao.com/v1.0/static/common/img/icon_index.png) no-repeat left;background-position:0 -256px; display:inline; width:8px; height:8px;float:left; margin-left:38px;margin-top: 13px;margin-right:5px;overflow: hidden;}
.small_tree li a span{float:left;}
/*2016/11/03 三级菜单宽度 文字溢出...*/
.small_tree li a span.width130{  width: 130px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  }
.tree_vip{height: 12px;width: 26px;background: #FF6600;line-height: 12px; margin-left:5px; text-align: center;  margin-top: 12px;  font-size: 12px;color:#fff;}
.cur_b{  color:#F8893E; /*background:#fff;*/ /*border-left:2px solid #F8893E;*/ /*padding-left:0;*/  }

.cur_b a{padding-left:0;color: #FF6500;}
.b_title a:hover{color: #ff6500;}
.b_title a.cursor-def:hover{color: #333;cursor: default}

.b_title a:hover .one_list,.cur_b a .one_list{background-position: -110px 0;}
.b_title a:hover .two-l,.cur_b a .two-l{background-position: -130px 0;}
.b_title a:hover .three_l,.cur_b a .three_l{background-position: -150px 0;}
.b_title a:hover .four_l,.cur_b a .four_l{background-position: -60px 0;}
.b_title a:hover .five_l,.cur_b a .five_l{background-position: -190px 0;}
.b_title a:hover .six_l,.cur_b a .six_l{background-position: -110px -60px;}
.b_title a:hover .seve_l,.cur_b a .seve_l{background-position: -130px -60px;}

/*左侧列表home 页面新 begin*/
.other-icon{
    background-position: -120px -140px;
    margin-top: 8px;
}
.com-left{
    line-height: 30px;
    font-size: 16px;
    cursor: default;
}
.com-left .com-heig{
    margin: 0px 0 2px 0;
}
.com-left a{
    color: #35312d;
    display: block;
    line-height: 18px;
    padding: 12px 0;
}
.com-left a:hover,
.com-left a.com-sel-act{
    background: #fff;
    cursor: pointer;

}
.com-left a.com-sel-act{
    color: #FF6600;
}
.com-left a.com-sel-act .sqr{
    background: #ff6600;

}
.com-show{
    font-size: 12px;
    line-height: 30px;
}
.com-show a{
    color: #555;
}
.com-show li{
    line-height: 30px;
}
.com-show .sqr{
    width: 4px;
    height: 4px;
    margin: 7px 4px 0 25px;
    background: #999;

    display: inline-block;
}
.com-show li a{
    padding: 6px 0 6px 43px;
}
.com-left span{
    float: left;
}
.com-left span.width130{
    width: 160px;
}
/*左侧列表home 页面新 end*/

.show{
    display:block;
}
.hide{
    display:none;
}
/*公共select*/
.select-bg{
    font-size: 14px;
    background: #f7f7f7;
    margin: 8px 20px 0 20px;
}
.select{
    position: relative;
    cursor: pointer;
    height: 22px;
    border: 1px solid #fff;
    padding: 0px 8px;
    float: left;
    z-index: 3;

    color: #999999;
    line-height: 22px;
    background: #fff;
}
.select span{
    float: left;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
.select .select_ul{
    position: absolute;
    z-index: 111;
    padding: 2px 0 0 0;
    background: #fff;
    border: 1px solid #e8e8e8;
    left: -1px;
    top: 22px;
    width: 100%;
    display: none;
    /*2016/11/05 下拉框定高，滚动*/
    max-height: 160px;
    overflow: hidden;
    overflow-y: auto;
}
.select a{
    background: url(http://static.front.dongao.com/v1.0/static/common/img/list.png);
    background-position: 0 -27px;
    display: block;
    float: right;
    width: 13px;
    height: 13px;
    margin-top: 5px;
    margin-left: 3px;
    overflow: hidden;
}
.select a.open{
    background-position: 0 -12px;
}
.select .select_ul li{
    float: none;
    margin: 0;
    color:#656565;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 3px 8px;
}
.select .select_ul li:hover{
    background: #FFF1E4;
    color: #F18D1D;
}
.select .select_ul li.cur{
    background: #FFF1E4;
    color: #F18D1D;
}

/*弹出层蒙版*/
.body_mask{position:fixed;width:100%;height:100%;top:0;display:none;z-index:99;background:url(../img/opacity.png) repeat;overflow-y: auto;
    /* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/opacity.png" ,sizingMethod="crop");*/}
.body_mask1{background: 0 0;}
.cursor{cursor:pointer;}
.com-loading{position: fixed;width:100%;height:100%;background: url('../img/loading.gif') no-repeat center center;}

/*
公共头*/
.com_head {width: 100%;height: 30px;line-height: 30px;background: #fff; font-size: 12px; }
.com_head .w {width: 1180px;margin: 0 auto;  }
.com_head li {  float: left;  height: 30px;padding: 0 2px;}
.com_head a {  padding-right: 15px;  }
.com_head a.com_head_login{padding-right: 8px;color:#F18D1D;}
.com_head a:hover {  color: #F18D1D;  }
.com_head .home_icon{  background: url(http://static.front.dongao.com/v1.0/static/common/img/icon_index.png) -160px -110px no-repeat;width:8px;height:16px;float:left;margin-top: 6px; }
.com_head .home_icon_text{ display: block;float: left; }
.com_head .fore0:hover{cursor: pointer;}
.com_head.com_head_retailers{
    background: #F1F1F1;
}
.com_head.com_head_retailers .cw-icon{padding-left: 0;}
.com_head .common_head_spe{
    height: 12px;
    border-left: 1px solid #737373;
    margin: 10px 15px 0px 2px;
}
.com_head-login .common_head_spe{
    margin: 24px 15px 0px 2px;
}
.com_head-login{height: 60px;line-height: 60px;overflow: hidden;}
/*
公共尾*/
.footer {  line-height: 150%;  margin: 0px auto;  text-align: center;  font-size: 12px;  }
.footnav {  padding: 10px 0;  border-bottom: 1px #ccc solid;  }
.copyrigyt {  padding: 10px 0;  line-height: 200%;  }  .terrace a { cursor: pointer;  }
.footer{  margin:0 auto;  }
.footer a{color: #464646;text-decoration: none;  }
.terrace { margin:0px auto; }
.terrace a{cursor: pointer; cursor:hand ;}
.terrace .xzzxg{border:1px solid #CCCCCC;position:absolute;padding:10px 13px 8px 7px;background:#fff;margin:4px 0 0 -140px;display:none;}
.terrace .xzzxg .pic{float:left;width:60px;}
.terrace .xzzxg .tent{float:left;margin-left:10px;}
.terrace .xzzxg p{font-size:14px;color:#0086CE;}
.terrace .xzzxg p a{color:#0086CE;}
.terrace .xzzxg .tent font{font-size:12px;background:url(http://img.dongao.cn/imgcms/index/picbj.png) no-repeat;width:55px;height:20px;line-height:20px;float:left;margin-top:10px;}
.terrace .xzzxg .tent font a {color:#fff;}
.terrace .xzztwo{padding:5px;}
.terrace .xzztwo .tent p{margin-top:10px;}
.terrace_con{width:280px; margin:10px auto 0px auto;}
.aone{width:110px; float:left;}
.atwo{width:100px; float:left;}
.xzzone,.xzztwo{display:none;padding:4px 0px;}
.aone:hover div.xzzone{display:block;margin:0 0 0 0;+margin:24px 0px 0px -100px;position:absolute;}
.atwo:hover div.xzzone{display:none;}
.atwo:hover div.xzztwo{display:block;margin:0px 0px 0px 0px;+margin:24px 0px 0px -100px;position:absolute;}
.a_anquan img{vertical-align:middle;}
.tent .tent_p{font-weight:bold;padding-bottom:5px;}
.tent .tent_span{padding:0 5px 0 0 ;}
/*编辑器部分*/
.ke-statusbar{background: #fff !important;border: none!important;cursor:text!important;}
.ke-toolbar>span{margin:5px 5px!important}

/*温馨提示*/
.cm_warm_tip,.info_msg{background: #fff2ec;}/*背景色*/
.icon_reminder:before{ content: "\e618";font-size: 16px;}
.icon_reminder{/*background: url(../img/icon_index.png) -190px -80px no-repeat;*/width: 16px;height: 16px;display: block;margin-right: 4px;color: #f00;}

/*member公共底部*/
.cp_footer{
    border-top: 1px solid #e0e0e0;
    background: #fff;
    color: #656565;
}
.cp_footer .cp_footer_01{
    height:56px;
    line-height:56px;
    float: left;
    padding-left: 20px;
}
.cp_footer .cp_footer_02{
    height:56px;
    line-height:56px;
    float: right;
}
.cp_footer_02 .cp_f02_1{
    float: left;
    padding: 0 20px 0 0;
}
.cp_footer_02 .cp_f02_2{
    float: left;
    padding: 0 20px 0 0;
    cursor: pointer;
}
.cp_footer_02 .cp_f02_3:before{
    content: "\e613";
}
.cp_footer_02 .cp_f02_3{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 200px;
    right: 15.5%;

    /*background: url("../img/icon_index.png") -160px -30px no-repeat;*/
    width: 36px;
    height: 36px;
}
.cp_footer-img{
    margin: 21px 3px 0 0;
}
.icon-footer-copy{
    background: url("http://static.front.dongao.com/v1.0/static/common/img/icon_index.png") -200px -30px no-repeat;

    width: 13px;
    height: 13px;
}
.icon-footer-phone:before { content: "\e607"; }
.icon-footer-phone{
    /*background: url("http://static.front.dongao.com/v1.0/static/common/img/icon_index.png") -200px -150px no-repeat;*/

    color: #999;
    margin: -2px 0 0 0;
    width: 16px;
    height: 18px;
}

/*分页插件样式  begin*/
.pagination>*{float:left;font-size:14px}
.pagination_pages li{float:left;border:1px solid #ccc;margin-right: 7px;}
.pagination_pages>li.paginationjs-prev,.pagination_pages>li.paginationjs-next a{border-radius:3px 0 0 3px}
.pagination_pages>li.paginationjs-next{border-right:1px solid #aaa;border-radius:0 3px 3px 0}
.pagination_pages>li.paginationjs-next a{border-radius:0 3px 3px 0}
.pagination_pages>.page_prev a,.pagination_pages>.page_next a{padding:0 10px;width: auto;}
/*等于号*/
.pagination_pages>li.ellipsis{border:none;color: #2D2D2D;font-size: 16px;}
.pagination_pages>li.ellipsis a{background:none;width:32px;line-height: 28px;}
.pagination_pages>li.ellipsis a:hover{background:none;}
/*悬浮效果*/
.pagination_pages li a{display:block;background:#fff;font-size:14px;color:#999;text-decoration:none;text-align:center;width:30px;text-align:center;line-height: 28px;min-width: 30px;width: auto !important;}
.pagination_pages li a:hover{background:#eee}
/*当前页 或 选中页*/
.pagination_pages>li.active{border:1px solid #FF6500;}
.pagination_pages>li.active a{background: #FF6500;color: #fff;}
/*不可点状态*/
.pagination_pages>li.disabled{border: 1px solid #EEEEEE;}
.pagination_pages>li.disabled a{opacity:.3;color:#999;background:#F8F8F8;}
/*input框*/
.pagination_go_input{margin-left: 15px;}
.pagination_go_input input{width:30px;height:28px;background:#fff;border-radius:3px;border:1px solid #aaa;padding:0;font-size:14px;text-align:center;vertical-align:baseline;outline:0;box-shadow:none;box-sizing:initial}
/*跳转按钮*/
.pagination_go_btn{margin-left:15px;line-height:28px;background:#fff;border-radius:3px;border:1px solid #aaa;text-align:center;padding:0 8px;font-size:14px;vertical-align:baseline;outline:0;box-shadow:none;color:#333;cursor:pointer;vertical-align:middle\9}
.pagination_go_btn:hover{background-color:#f8f8f8;}
.paginationjs .paginationjs-pages li.active  a {background: #FF6500; color: #fff;}
.paginationjs li.disabled, .paginationjs li.disabled a,
.paginationjs li.disabled, .paginationjs li.active a{
    cursor: default;
}
/*ie6*/
.paginationjs .paginationjs-pages li a{
    display: block;
    width: auto!important;
    width: 30px;
    text-align: center;
}
.paginationjs .paginationjs-pages li.paginationjs-prev a, .paginationjs .paginationjs-pages li.paginationjs-next a {
    width: auto!important;
    width: 80px;
}
.pageList .paginationjs{
    width: 680px;
    margin: 0 auto;
}
/*分页插件样式  end*/


/*面包屑导航 start*/
.cs_nav{
    background: #fff;
    /*border-bottom: 1px solid #e0e0e0;*/
    color: #656565;
    padding: 18px 0 0 20px;
    /*padding-left: 20px;*/
    height: 20px;
}
.cs_nav-pb{
    padding-bottom: 18px;
}
.cs_nav span, .cs_nav a {
    display: block;
    float: left;
    margin-right: 5px;
    color: #999;
    font-size: 12px;
}
.cs_nav a:hover{
    text-decoration: underline;
    color: #333;
}
.cs_nav_gt {
    height: 10px;
}
/*面包屑导航 end*/
/*课程题库 头部公用导航*/
/*修改导航使其一致*/
.study_nav_bg{  background: #fff;  }
.study_nav {  height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e0e0e0;
    width: 940px;
    margin: 0 auto 0;
}
.study_nav li {
    float: left;
    font-size: 16px;
    padding: 0 30px;
}
.study_nav li a {
    display: block;
    color: #333;
}
.study_nav li.study_cur {
    border-bottom: 3px solid #FF6500;
    line-height: 52px;
}

.study_nav li.study_cur a {
    color: #FF6500;
}
/*end*/

/*公用弹框 begin*/
.com_pop_content{ width: 500px; height: 260px; background: url(http://static.front.dongao.com/v1.0/static/common/img/face.png) no-repeat 206px 28px #fff; ;position: absolute; top: 50%; left: 50%; margin-top: -130px; margin-left: -250px;color: #666666; border-radius: 5px}
.com_pop_content_sm{;background-image: url('http://static.front.dongao.com/v1.0/static/common/img/icon_smile.png')}
.com_pop_content .close{background-image: url(http://static.front.dongao.com/v1.0/static/common/img/list.png); background-position: -20px -20px; width: 15px; height: 15px; position: absolute; top: 20px; right: 20px;cursor: pointer;overflow: hidden;}
.com_pop_content .text{ width: 242px; margin:126px  auto 0; text-align: center;font-size: 16px;border: 0;}
.com_pop_content .text .marb12{margin-bottom: 12px;}
.com_pop_content .text .yes{ background: #FF6600; width: 150px; margin: auto; padding: 10px 0; text-align: center; color: #fff; font-size: 14px; margin-top: 20px; border-radius: 3px;cursor: pointer;}
.com_pop_content .text .yes:hover{ background: #FF4E00;cursor: pointer}
.com_pop_content .handle{ text-align: center; color: #fff; font-size: 14px; margin-top: 20px;}
.com_pop_content .handle .cancel{ display: inline-block;  width: 148px; padding: 9px 0; border-radius: 3px; border:1px solid #ccc; color: #696969; margin-right: 50px;cursor: pointer;}
.com_pop_content .handle .sure{ display: inline-block;  text-align: center; width: 150px; padding: 10px 0; background: #FF6600; border-radius: 3px;cursor: pointer;}
.com_pop_content .handle .sure:hover{ background: #FF4E00;cursor: pointer;}
.com_pop_content .handle .cancel:hover{ border: none; background: #EEEEEE; width: 150px;cursor: pointer;}
.com_pop_content1{background-image: none;}
.com_pop_content1 .tit{ font-size: 24px;text-align: center;  margin-top: 44px;  }
.com_pop_content1 .text{  margin-top: 30px;  width: 350px;  font-size: 14px;;  }
.com_pop_content1 .popcolor1{  color: #999;  }
.com_pop_content1 .popcolor2{  color: #ff0000;  }
.com_pop_content1 .popcolor3{  color: #0099ff;  }

/*关闭x hover*/
.pop .pop_title_close:hover,.editQues .close:hover,.coupon_cour_pop .pop_title_close:hover,.listen-que-ask .box_head_close:hover,.pop .close:hover,.edit_tit .icon-close-dis:hover{
    background-position: 0 -18px;
}
/*公用弹框 end*/
.cursor-def{
    cursor: default;
}
/*文字溢出显示 ...*/
.overhide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*知识点 题库 课程 答疑 begin*/
/*答疑*/
.answer_zhi { color: #999; height: 28px;  line-height: 24px;  cursor: pointer;  background: #fafafa;  border: 1px solid #ededed;  padding: 0 10px 0 0;  width: 207px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  }
.icon_zhishi:before { content: "\e674"; }
.icon_zhishi {/*background: url("http://static.front.dongao.com/v1.0/static/common/img/icon_know.png") 0 0 no-repeat; display: inline-block;*/   margin: 0px 5px 0;  width: 15px;  height: 15px;  overflow: hidden;  position: relative;  top: 1px;  }
.answer_zhi:hover{  border-color: #09f;  color: #09f;  }
.answer_zhi:hover .icon_zhishi{  color: #09f;/*background-position: 0 -120px;*/  }
.icon_zhishi_act{color: #09f;/*background-position: 0 -120px;*/cursor: pointer;}
/*听课*/
.coll_kp {font-size: 12px;  height: 28px;  line-height: 28px;  cursor: pointer;  background: #fafafa;  border: 1px solid #ededed;  padding: 0 10px 0 0;  margin: 5px 20px 0 0;  width: 207px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  }
.icon_kp {background: url('http://static.front.dongao.com/v1.0/static/common/img/icon_know.png') 0 -20px no-repeat;  display: inline-block;  margin: 0px 5px 0;  width: 16px;  height: 16px;  overflow: hidden;  position: relative;  top: 3px;  }
.coll_kp:hover{  border-color: #09f;  color: #09f;  }
.coll_kp:hover .icon_kp{  background-position: 0 -100px;  }
/*题库*/
.know_text { line-height: 25px;  }
.icon_know {  background: url('http://static.front.dongao.com/v1.0/static/common/img/icon_know.png') 0 -40px no-repeat;  width: 16px;  height: 15px;  margin: 5px 4px 0 0;  }
.icon_know_act {  background-position: 0 -60px;  }
.know_text .overhide{  width: 210px;  }
.know_text:hover .icon_know,
.know_text.act .icon_know{  background-position: 0 -60px;  }
.pop_content .report_an{  margin-left: 0;  }
/*知识点 题库 课程 答疑 end*/

/*------题库提问弹框，添加收起展开样式 begin-----------*/
.pop_content .answers_list .qr_has_ask {  font-size: 12px;  width: 42px;  color: #999;  border-radius: 2px;  position: absolute;  cursor: pointer;  height: 24px;  line-height: 24px;  border: 1px solid #e8e8e8;  padding: 0px 8px;  float: left;  right: 0px;  bottom: 10px;  background: #F7F7F7;  }
.pop_content .answers_list .qr_has_ask:hover {  background: #FFF3EB;  border: 1px solid #FFDDBB;  color: #ff9965;  }
.pop_content .answers_list .color_orange {  cursor: pointer;  }
.pop_content .answers_list  .qr_detail {  display: none;  }
/*点赞*/
.pop_content .answers_list  .icon_like {  background: url('http://static.front.dongao.com/v1.0/static/answer/img/icon_ans.png') -120px -90px no-repeat;  width: 15px;  height: 16px;  margin: 0 5px 0 0;  }
.pop_content .answers_list .icon_like_act {  background-position: -30px -30px  }
.pop_content .answers_list .tosuppt {  margin-right: 60px;  color: #555;  }
.pop_content .answers_list .blue {  color: #0099ff;  }
.pop_content .answers_list .qr_has_ask .ci-right{  background: url(http://static.front.dongao.com/v1.0/static/common/img/list.png);  background-position: 0 -27px;  display: block;  float: left;  width: 13px;  height: 13px;  right: 4px;  top: 5px;  }
.pop_content .answers_list .qr_has_ask .ci-right s{  display: none;  }
.pop_content .answers_list .qr_has_ask .open{  background-position: 0 -12px;  }
.pop_content .answers_list .replay_text {  margin: 10px 0px 10px 0;  }
.pop_content .answers_list .fonts12 {  font-size: 12px;  }
.pop_content .answers_list .fontc99 {  color: #999999;  }
.pop_content .answers_list .tosuppt {  margin-right: 60px;  color: #555;  }
/*------题库提问弹框，添加收起展开样式 end-----------*/
/* 文本框 字符长度*/
.text-area-len{
    font-size: 14px;
    color: #999;
}
.text-area-len label{
    color: #f93;
}
.text-mar{
    margin: 10px 0 0 0;
}
.inp-mar{
    margin: 6px 0 0 0;
}
/*空白页面 */
.com-blank{font-size: 14px;margin: 0 auto;margin-top: 80px;margin-bottom: 80px; width: 360px;}
.com-blank1{width: 410px;}
.com-blank1-2{width: 425px;}
.com-blank1-3{width: 450px;}
.com-blank1-4{width: 460px;}
.com-blank1-5{margin-bottom: 30px;}
.com-blank1-no{margin: 0 auto;}
.com-blank2{margin: 0 auto;margin-top: 80px;text-align: center;font-size: 14px;}
.com-blank2-2{margin-bottom: 40px;}
.com-blank .div-l{margin: 56px 0px 0 10px;}
.com-blank .div-l2{margin: 75px 0px 0 10px;}
.com-blank .div-l3{margin: 68px 0px 0 10px;}
.com-blank .div-l4{margin: 50px 0px 0 10px;}
.com-blank .b-text1,.com-blank2 .b-text1{color: #656565;font-size: 18px;}
.com-blank .b-text2,.com-blank2 .b-text2{color: #999;}
.com-blank .b-a,.com-blank2 .b-a{color: #09f}
.com-blank .b-a:hover,.com-blank2 .b-a:hover,.b-a:hover{text-decoration: underline;}

/*答疑列表hover类*/
.color_orange{ color:#09f; cursor: pointer;  }
.color_orange .ask_cont{color: #333;}
.color_orange .width_a,
.color_orange .fonts16,
.color_orange .font16{  text-decoration: underline;  }
/*答疑5px 间距*/
.ans-mar5{margin: 5px 20px 0;}
.qr_content .ans-mar5{margin: 5px 0 0;}

/*答疑邮件图标*/
.email_icon {
    width: 14px;
    height: 14px;
    float: left;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    margin-top: 1px;
    margin-right: 3px;
    overflow: hidden;
}
.email_icon_act {
    background-image: url(http://static.front.dongao.com/v1.0/static/answer/img/check_study_icon.png);
    background-repeat: no-repeat;
    background-position: -57px 3px;
}
/*输入框 placeholdor*/
.inp-bg-pl{position: absolute;color: #999;line-height: 34px;text-indent: 5px;z-index: 1;}
.editQues .inp-bg-pl{text-indent: 12px;}/*笔记*/
.login_box .inp-bg-pl{text-indent: 10px;line-height: 37px;}/*登录*/
.register_content_left_content .inp-bg-pl{text-indent: 10px;line-height: 42px;}/*注册*/
.pb_main_form .inp-bg-pl{text-indent: 10px;line-height: 42px;}/*等录 找回*/
.servie_secu_cont .inp-bg-pl{text-indent: 10px;line-height: 42px;}/*个人中心 邮箱 密码 手机号*/
.servie_secu_bot .inp-bg-pl{text-indent: 10px;line-height: 32px;}/*服务保障*/
.dd_title_input .inp-bg-pl,.dd_time_input .inp-bg-pl{text-indent: 10px;line-height: 30px;}/*资料下载*/
.grade_con .inp-bg-pl{text-indent: 0;line-height: 24px;text-align: center;width: 70px;}/*服务保障*/
.inp-pl{background: 0 0;position: relative;z-index: 2;}

/*大标题颜色*/
.les_head .les_head_1,.info_tit,.fund_tit,.chapte_head,.all_plans {
    color: #333;
}
/*小 icon svg*/
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1480471943037'); /* IE9*/
    src: url('iconfont.eot?t=1480471943037#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1480471943037') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1480471943037') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1480471943037#iconfont') format('svg'); /* iOS 4.1- */
}
/*
* iconfont 公用
* .sty_cour_p dl dt span.sty_cour_hide 已购课程 ...
* task_icon_p 下载
* icon_zhishi 答疑知识点
* lock_img 题库锁
* icon-footer-phone 底部 电话
* .head_right .day_or_night 夜间模式 月亮
* .handout_collection_btn span.handout_collection_btn_icon  ,.icon-coll收藏
* .cp_footer_02 .cp_f02_3 公用底部，返回顶部
* .icon_secur 个人资料，安全 对号
* .fixed_menu .menu_aft, .fixed_menu b 右侧随屏 二维码，客服
* .icon_reminder 温馨提示
*/
.iconfont,.sty_cour_p dl dt span.sty_cour_hide,.task_icon_p,.icon_zhishi,.lock_img,.icon-footer-phone,.head_right .day_or_night,.handout_collection_btn span.handout_collection_btn_icon,.icon-coll,
.cp_footer_02 .cp_f02_3,.icon_secur,
.fixed_menu .menu_aft, .fixed_menu b,
.icon_reminder{
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-coll:before { content: "\f0114"; }
.icon-coll{font-size: 18px;color: #999;}
.icon-coll-act:before { content: "\e60f"; }
.icon-coll-act{color: #f60;}
/*公用左侧列表*/
.icon-left-h,.icon-left-o{  color: #aaa;  margin: 0px 2px 0 14px;  }
.icon-left-h:before { content: "\e605"; }
.icon-left-o{  margin: 0px 2px 0 12px;font-size: 22px;  }
.icon-left-o:before { content: "\e606"; }
/*电话的大小*/
.icon-footer-phone{font-size: 16px;}
/*知识点的大小*/
.icon_zhishi{font-size: 18px;}
/*公用底部，返回顶部*/
.cp_footer_02 .cp_f02_3{font-size: 36px;color: #bbb;}
/*引导弹框css begin*/
.covermask{cursor: pointer;}
.cover {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0 solid #000;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 9;
    -webkit-transition: all .25s;
    transition: all .25s;
    box-shadow: 0 0 0 100px #000;
    overflow: hidden;
}
.cover .coverbor{
    border: 2px solid #f97d21;
}
.covermask .coverimg{
    position: absolute;
    z-index: 10;
    top: 0;
}
.cover::before {
    content: '';
    width: 100%; height:100%;
    /*border-radius: 50%;*/
    border: 400px solid #000;
    position: absolute;
    left: -400px; top: -400px;
    /* 自己瞎填的参数，示意 */
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,.6);
}

.covermask .coverclose {
    position: absolute;
    top: 50px; right: 50px;
    width: 36px;
    height: 36px;
    font: status-bar;
    font-size: 20px;
    color: #fff;
    z-index: 10;
}
/*引导弹框css  end*/

/* 右侧浮动 非语音客服 begin*/
.fixed_menu{
    width: 40px; position:fixed; top: 170px; z-index: 2;
    background: #fff;border-radius: 5px; padding: 20px 0 12px 0px;
    left: 1337.5px;
    _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:70px;
}
.fixed_menu a{  display: inline-block; font-size:14px; text-align: center; color:#fff; height:40px; line-height: 40px; margin-bottom:1px; position: relative;  }
.fixed_menu .menu_aft{  display: inline-block; width:40px; background: #ff8606; -webkit-text-stroke-width: 0; }
.fixed_menu .fixed_cent{  position: absolute; top:0px; right:40px; display: none;  }
.sp_phone{  width:112px; background: #ff8606;  }
.fixed_menu .fixed_erweima{  right:44px;  }



.fixed_menu .menu_aft,.fixed_menu b{background:url(http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png) no-repeat; }
.fixed_menu .menu_aft1{background-position: 3px 0;}
.fixed_menu .menu_aft2{background-position: 3px -90px;margin: 8px 0 0;}
.fixed_menu .menu_aft3{background-position: 3px -135px;margin:8px 0 0;}
.fixed_menu .menu_aft_phone{background-position: 3px -45px;margin:8px 0 0;}
.fixed_menu{    background: #fff;border-radius: 2px;    padding: 20px 8px 12px 8px; }
.fixed_menu a.menu_aft1:hover{
    background-position: -42px 0px;
}
.fixed_menu a.menu_aft2:hover{
    background-position: -42px -90px;
}
.fixed_menu a.menu_aft3:hover{
    background-position: -42px -135px;
}
.baby_eyes{
    position: absolute;
    z-index: 9;
    width: 72px;
    height: 78px;
    background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png") no-repeat -135px 0;
    top: -68px;
    left: -7px;
}
.fixed_menu:hover .baby_eyes,
.baby_eyes.eye_down{
    background-position: -135px -85px;
}
.fixed_menu a.menu_aft_phone:hover{
    background-position: -42px -45px;
}
.fixed_menu p.menu_aftphone{
    background:#fff;
    position: absolute;
    height: 35px;
    width: 260px;
    right: 52px;
    border: 1px solid #ff8606;
    background: #fff;
}
.fixed_menu p.menu_aftphone .aftPhone{
    display: block;
    width: 250px;
    height: 26px;
    background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png") no-repeat 6px -175px;
    margin-top: 3px;
}
.fixed_menu a.menu_aft p{
    display: none;
    -webkit-box-shadow: 0 0 10px #878686;
    -moz-box-shadow: 0 0 10px #878686;
    box-shadow: 0 0 10px #878686;
}
.fixed_menu a.menu_aft b{
    display: none;
}
.fixed_menu a.menu_aft:hover p{
    border-radius: 5px;
}
.fixed_menu a.menu_aft:hover p,.fixed_menu a.menu_aft:hover b{
    display: block;
}
.fixed_menu .menu_aft_l2{
    position: absolute;
    height: 150px;
    width: 138px;
    right: 52px;
    border: 1px solid #ff8606;
    background: #fff;
    color: #ff8606;
    padding-top: 10px;
}
.fixed_menu .menu_aft_l1,.fixed_menu .menu_aft_l3{
    position: absolute;
    height: 35px;
    width: 88px;
    right: 52px;
    border: 1px solid #ff8606;
    top: 1px;
    background: #fff;
    color: #ff8606;
    line-height: 35px;
}
.fixed_menu b{
    position: absolute;
    height: 32px;
    width: 23px;
    right: 32px;
    background-position: -88px 13px;
    z-index: 10;
}
.fixed_menu{border: 1px solid #eee;}
.fixed_menu .menu_aft{font-family: Microsoft YaHei!important;  }
.fixed_menu .menu_aft_l1,.fixed_menu .menu_aft_l3{font-size: 14px;}
/* 右侧浮动 非语音客服 end*/


/*答疑历史纪录*/
.icon-find{
    background:url(../../common/img/icon_index.png) no-repeat left;background-position:-40px 0; display:inline; width:16px; height:16px;float:left; margin:7px 5px 0 16px;overflow: hidden;
}
.f-t-tit{height: 55px;line-height: 55px;font-size: 16px;color: #000;border-bottom: 1px solid #e0e0e0;margin: 0 20px;}
.f-t-sear{    margin: 30px 20px;}
.f-t-sear .inp_text {outline: none;  width: 170px;  height: 28px;  line-height: 28px;  border: 1px solid #e0e0e0;  padding-left: 10px;  font-size: 12px;  }
.f-t-sear .inp_text.time_inp {  width: 100px;  }
.f-t-sear .dd_title_input {  height: 30px;  line-height: 30px;  }
.f-t-sear .dd_title_input div,.f-t-sear .dd_time_input div {  margin-right: 5px;  }
.f-t-sear .dd_time_input {  height: 30px;  line-height: 30px;  margin-left: 25px;  }
.f-t-sear .dd_time_input .input_time_div {  position: relative;margin-right: 5px;  }
.f-t-sear .dd_time_input .input_time_icon {  width: 16px;  height: 20px;  display: block;  position: absolute;  top: 5px;  right: 6px;  }
.f-t-sear .dd_time_input .input_time_icon img {  width: 16px;  height: 20px;  }
.f-t-sear .dd_serchBtn a {  display: block;  height: 30px;  line-height: 30px;  width: 100px;  background: #ff6500;  color: #fff;  text-align: center;  border-radius: 2px;  }
.f-t-sear .choice{margin: 0;}
.f-t-sear .choice .select_ul li {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*答疑历史纪录详情*/
.ask_hF_tit1{ line-height: 20px;  height: 20px;}
.bor-bot-de{border-bottom: 1px dashed #efefef;padding-bottom: 20px;margin-top: 10px;}
.f-t-askb{font-weight: 600;}
.f-t-imglist{overflow: hidden;}
.f-t-imglist img{display: block;max-width: 100%;}

/*
* 2017-2-21
* zys
* 题库文字对齐
*/
.multi-marl24{margin: 0 0 0 24px;}
.multi-marls22{margin: 0 0 0 22px;}

/*
* 新增矢量图
* 2017-3-8
*/
@font-face {font-family: "iconfont-oth";
    src: url('iconfont-oth.eot?t=1480471943037'); /* IE9*/
    src: url('iconfont-oth.eot?t=1480471943037#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont-oth.woff?t=1480471943037') format('woff'), /* chrome, firefox */
    url('iconfont-oth.ttf?t=1480471943037') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont-oth.svg?t=1480471943037#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont-oth{
    font-family:"iconfont-oth" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 答疑评价表情   */
.icon-ans-face5:before{content: "\e635";}/*五颗星*/
.icon-ans-face4:before{content: "\e631";}/*4颗星*/
.icon-ans-face3:before{content: "\e630";}/*3颗星*/
.icon-ans-face2:before{content: "\e633";}/*2颗星*/
.icon-ans-face1:before{content: "\e632";}/*1颗星*/
.icon-ans-face{color: #f60}
/* 答疑评价表情   end*/

/*添加图片弹出层*/
.exa_upload{width:99.68%; height:45px;    margin: 0 auto;margin-bottom:10px;}
.Bexa_p{float:left;font-size:14px; color:#333; margin:15px 13px 0 13px;}
.Gexa_p{float:right; font-size:12px; color:#999;margin: 15px 13px 0 ;}
.ulL_img{width:36px; height:36px;float:left;overflow:hidden; position:relative; margin-top:10px;    margin-right: 15px;}
.fil_ex{width:36px; height:36px; position:absolute; top:0; left:0; z-index:5; cursor:pointer;opacity:0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.subjective_text{height:196px;}
.fil_img{position:absolute;top:0; left:0;z-index:2;display:block; width:36px;height:36px;}
.load_img{float:left; position:relative;}
.load_img img.load_pic{display:block; float:left;width:34px; height:34px;border:1px solid #E0E0E0; }
.load_zhe{position:absolute; background:#000;width:100%; height:100%;top:0;left:0;opacity:0.5;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);z-index:2;}
.load_cha{position:absolute;display:block; width:16px; height:16px; left:50%; top:50%; margin-left:-8px; margin-top:-8px;z-index: 3;}
.load_imgD{margin:10px 15px 0 0; width:36px; height:36px;position:relative;float: left;}
.poped{padding:0;height:200px;margin-top:-100px;top:50%;}
.load_ti{ text-align:center; margin-top:50px;}
.mr15{ margin-left:15px;}
.erro_ti{float:right; color:#FF6600; line-height:48px;}

/*20170718 提问规范 */
.bg-hint{
    width:866px;height:40px; line-height: 40px; margin:0 auto; padding: 0 10px; background: #fdf4f0;font-size: 14px;color:#999; border-radius:5px;
}
.bg-hint .strike{
    color:#ff6600;cursor:pointer; font-weight:normal;
}
.hint-c{
    width: 884px; height:278px; border: 1px solid #eee; margin: 4px auto 35px; font-size: 12px;line-height: 25px;color:#333; border-radius:5px;position: relative; box-shadow: 0 10px 20px rgba(51,51,51,0.1);display:none;
}
.hint-c b{
    display: block; position: absolute; width: 96px; height: 32px; line-height: 32px; text-align:center; color:#fff; background:#ff6600;cursor:pointer;left:50%; margin-left:-48px; bottom:-16px; border-radius:5px;
}
.help-hint{
    display: none;
}
.hint-c div{
    width: 864px;height:262px;padding: 6px 10px 10px;overflow-y: auto;
}
.bg-hintt{
    width: 814px;
}
.hint-cc{
    width: 834px;
}
.hint-cc div{
    width: 814px;
}
.bg-hint2{
    width: 804px;
}
.hint-c2{
    width: 822px;
}
.hint-c2 div{
    width: 802px;
}