@charset "utf-8";

/*图片放大*/
.small_pic{     margin: 0 0 45px 10px;width:100%; height:120px;}
.small_img{display:block; width:120px; height:120px; margin-right:30px;float:left; cursor:pointer;}
.img_tc{width:1180px; height:650px; position:fixed; top:50%; left:50%; margin-left:-590px; margin-top:-325px;}
.img_num{color:#fff; font-size:20px; text-align:center; margin-bottom:60px;}
.left_but{ margin-left:30px; margin-top:260px;}
.right_but{margin-top:260px;}
.big_img{width:992px; margin:0 30px;height:558px; overflow:hidden;}
.big_div{height:558px;}
.big_img img{display:block; width:992px; height:100%; float:left}
.left_botn{background:url(../img/left_pic.png) no-repeat; width:34px; height:34px; display:block;}
.right_botn{background:url(../img/right_pic.png) no-repeat; width:34px; height:34px; display:block;}
.left_botn_hover{background:url(../img/left_pic_hover.png) no-repeat; }
.right_botn_hover{background:url(../img/right_pic_hover.png) no-repeat;}









